.header {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

.header > .icon-wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
